---

language: python
python: "2.7"
before_install:
 - sudo apt-get update -qq
install:
  - pip install ansible
script:
  - echo localhost > inventory
  - ln -s ansible-mongodb ../franklinkim.mongodb
  - ansible-playbook --syntax-check -i inventory test.yml
  - ansible-playbook -i inventory test.yml --connection=local --sudo -vvvv
